/* @import url("https://purvasheth.github.io/Ceres-Component-Lib/lib/styles.css"); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("react-toastify/dist/ReactToastify.css");

.App {
}
/*
	@name untitled
*/
/* Only edit this if you know what you are doing! */
* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #f6f7fb;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
.slider-parent {
  position: relative;
  padding: 1rem;
}

.buble {
  position: absolute;
  right: 9rem;
}
/* nav */

/* side-nav-filter */
/* side-nav-filter */
.side-nav-filter {
  min-height: calc(
    100vh - 6.9rem
  ); /* Full-height: remove this if you want "auto" height */
  max-height: calc(100vh - 6.9rem);
  width: 310px; /* Set the width of the sidebar */
  padding: 1rem;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  background: #e6e6e6;
  position: sticky;
  top: 7rem;
  left: 0;
}

.side-nav-price-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 1rem;
}

.side-nav-price-filter li {
  list-style-type: none;
  padding-bottom: 0.5rem;
}

.side-nav-generic-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.side-nav-generic-filter li {
  list-style-type: none;
  padding-bottom: 0.5rem;
}

.side-nav-slider-filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Products sections*/
.product-listing {
  display: grid;
  grid-template-columns: 310px auto;
  /* background:red */
}
.products-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

/* wishlist-listing */
.wishlist-listing {
  display: flex;
  flex-wrap: wrap;
}

/* products template */

.product-card {
  flex-grow: 1;
  box-sizing: border-box;
  min-width: 300px;
  max-width: 320px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px auto;
  background: #fafafa;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  /* padding: 0.5rem; */
  background: #f0f0f0;
}

.product-tumb img {
  width: 100%;
  height: 10rem;
  /* height: 100%; */
  box-sizing: border-box;
  object-fit: cover;
}

.product-details {
  padding: 1.5rem;
}

.product-catagory {
  box-sizing: border-box;
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #534c4c;
  margin-bottom: 1rem;
}

.product-details h4 a {
  box-sizing: border-box;
  font-weight: 700;
  display: block;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #817676;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 1rem;
  line-height: 1.3rem;
  margin-bottom: 1rem;
  color: #312424;
  font-weight:700
}

.product-bottom-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 1.2rem;
}
.fa {
  font-size: 1.5rem;
  padding: 0.2rem;
  cursor:pointer;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 1rem;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-action {
  text-align: right;
}

.product-action button {
  display: inline-block;
  background-color: transparent;
  border: transparent;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 1rem;
}

.product-action button:hover {
  color: #333333;
}

.product-action button:active {
  transform: scale(0.85);
  box-shadow: 3px 2px 22px 1px #f6f7fb;
  outline: none;
}

/* ************************** */
/* cart-table */
.cart_table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 40rem;
  height: auto;
}

.cart_table thead tbody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 40rem;
  padding: 1rem;
  margin: 1rem;
}
.cart_table_center{
  display:flex;
  justify-content:center;
  align-items:center;
}

th {
  padding: 1rem;
  font-size: 1rem;
}
td {
  width:7rem;
  padding: 1rem;
  text-align: center;
}
td img {
  height: auto;
  width: 2rem;
}
td button {
  margin: 1rem;
  padding: 1rem;
  border: transparent;
  background-color: transparent;
}
td button i {
  font-size: 1.5rem;
}
td button:focus {
  outline: none;
}

td button:active {
  transform: scale(0.85);
  box-shadow: 0 5px 1px #a8a8a8;
  outline: none;
}

tr {
  border: 1px solid #a8a8a8;
}

.td-quantity-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* use anywhere buttons */
.checkout-btn{
  margin-top:1rem;
  margin-left:1rem;
}

.use-anywhere-fa {
  display: inline-block;
  background-color: transparent;
  border: transparent;
  margin-left: 5px;
  color: #393d46;
  transition: 0.3s;
  font-size: 1rem;
}
.color {
  color: #b8bdc8;
}

.use-anywhere-fa :active {
  transform: scale(0.85);
  box-shadow: 3px 2px 22px 1px #f6f7fb;
  outline: none;
}

.use-anywhere-btn {
  padding: 1rem 2.5rem;
  background-color: #61646b;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: white;
  border: transparent;
  cursor: pointer;
  min-width: max-content;
  border-radius: 10px;
}

.use-anywhere-btn2 {
  padding:0.5rem 1rem;
  background-color: #61646b;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: white;
  border: transparent;
  cursor: pointer;
  min-width: max-content;
  border-radius: 10px;
}
.margin-adder{
  margin-top:0.5rem
}

.use-anywhere-btn:hover {
  background-color: black;
}
.use-anywhere-btn:focus {
  outline: none;
}
/* Button active state */
.use-anywhere-btn:active {
  transform: scale(0.95);
  box-shadow: 3px 2px 22px 1px #f6f7fb;
  outline: none;
}
.homepage{
  background:#393d46;
}

.drop-trigger {
  background-color: #393d46;
  color: #61646b;
  border: none;
  border-radius: 50%;
  display: none;
}

.header-brands{
  display:flex;
  justify-content: center;
  width:100%;
  margin:1rem 0 1rem 0
}
.brands-list{
  list-style:none;
  width:100%;
  display:flex;
  margin:1rem;
  justify-content: space-between;
}
.brands-list > p{
  color:#bdc0c7;
  font-size:2rem;
  font-weight: 700;
  margin:1rem
}

.brands-list > p:hover{
  color:white;
}
.header-img{
  height:70vh;
  position:relative;
  width:100%;
  opacity:0.8;
  object-fit:fill;
  
}

.header-overlay{
  position:absolute;
  top:100px;
  height: 70vh;
  width:100%;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.homepage-center{
  height:100vh;
  background:#393d46;
  margin:-0.5rem 0 -0.5rem 0;
  width:100%;
}
.homepage-products{
display:grid;
grid-template-columns:repeat(3, calc( ((100vw - 4rem)/3)) );
}
.homepage-products-1{
  height:20rem;
  object-fit:contain
}
@media only screen and (max-width: 1000px) {
  .side-nav-filter {
    position: fixed;
    left: -350px;
    top: 7rem;
    height: 100vh;
    z-index: 2;
    transition: 0.8s all ease;
    overflow: hidden;
  }
  .side-nav-filter.close {
    left: 0;
  }
  .product-listing {
    grid-template-columns: auto;
  }
  .color-2 {
    cursor: pointer;
    color: #e6ecf5;
  }
  .nav-btn-group {
    max-height: 300px;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0.2;
    transition: 0.8s all ease;
    overflow: hidden;
    /* background:#f6f7fb; */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 0px solid rgba(255, 255, 255, 0.18);
    border-bottom: 0;
  }
  .nav-btn-group.close {
    max-height: 0;
  }
  .nav-dropdown {
    position: relative;
  }

  .drop-trigger {
    display: block;
    cursor: pointer;
  }

  .floating-action {
    position: fixed;
    background-color: #393d46;
    color: #61646b;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1rem;
    bottom: 1rem;
    z-index: 3;
  }
}
